body {
	background-color: #000;
	z-index: 0;
	font-family: "Lucida Console", Monaco, monospace;
}

.UI {
	background-color: rgba(102, 102, 102, .8);
	border: 1px double rgba(255, 255, 255, .5);
}

.UI h3 { 
	text-align: center; 
	margin: 0; 
}

.console {
	position: relative;
	width: 350px;
	height: 200px;
	top: 10px;
	left: 10px;
	z-index: 2;
	color: #fff;
	padding: 10px;
	min-width: 150px;
	min-height: 150px;
}

.display {
	position: absolute;
	margin: 2%;
	width: 95%;
	height: 90%;
	background-color: blue;
	z-index: 1;
	padding: 10px
}

.stats {
	position: absolute;
	width: 250px;
	height: 350px;
	top: 250px;
	left: 10px;
	padding: 10px;
	z-index: 2;
}

.scroll {
	position: absolute;
    border: 1px solid red;
    height: 100px;
    overflow: auto;
    position: static;
    width: 100%;
    bottom: 0;
}